.navbar-container {
    padding: 0 1rem;
    height: 5rem;
    width: 100%;
    color: rgb(206, 196, 196);
    background-color: #3730a3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  

  .nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  .nav-list li {
    margin: 0;
  }
  
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .navbar-search input {
    background: transparent;
    outline: none;
    font-weight: lighter;
  }
  
  .menu-toggle {
    display: none;
  }
  
  .menu-open {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  
  .menu-closed {
    position: absolute;
    left: -100%;
    top: 0;
  }
  
  .menu-buttons .btn {
    background: linear-gradient(to right, #6366f1, #3730a3);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
  }